<div><%= t('.test_time') %></div>
<div class="timer">
  <div class="timer__items"
    data-deadline_date="<%= @test_passage.deadline_date %>">

    <div class="timer__item timer__hours">00</div>
    <div class="timer__item timer__minutes">00</div>
    <div class="timer__item timer__seconds">00</div>
  </div>
</div>
