<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована в связи с превышением лимита неудачных попыток входа.</p>

<p>Нажмите ссылку для активации учетной записи:</p>

<p><%= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token) %></p>